*.class
*.log
*.jsa
*.exe
*.txt
*.ini
*.lock
*.java.*
INI_bak/
3D_Class/
3D_Dist/
log/
ERROR_OF_COMPILE/
img/
build/
DIST/
input_dir/
Lib_BackUp/
TEST/
temp/
tmp/
3D_Lib/javafx-sdk-21.0.10/
@TEST/KootPanKing_3D_Proj.zip
KootPanKing_3D_Proj.zip
KootPanKing_3D_Proj.zip
